.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}
.header{
    background-color: deepskyblue;
    height: 240px;
}
.footer{
    background-color:aqua;
    height: 120px;
}
.main{
    text-align: left;
    background-color: deepskyblue;
    height: 240px;
    font-size: 24px;
}
.aside1{
    background-color: blueviolet;
    text-align: center;

}
.aside2{
    background-color: aquamarine;
}
.aside3{
    background-color: chartreuse;
}
.aside4{
    background-color: darkslateblue;
}
@media all and (min-width:800px){
    .main{
        flex: 3;
    }
    .aside1{
        order: 1;
    }
    .aside2{
        order: 2;
    }
    .aside3{
        order: 3;
    }
    .aside4{
        order: 4;
    }
    .main{
        order: 3;
    }
    .footer{
        order: 4;
    }
}
@media all and (min-width:1000px){
    .aside{
        flex: 1;
    }
}